<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oliver.finalproject2018">
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens android:requiresSmallestWidthDp="600" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity
            android:name=".MainActivity"
            android:launchMode="standard">

        </activity>
        <activity
            android:name=".pif_opt_patientList"
            android:label="@string/title_activity_pif_opt_patient_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pif_doc_patientlist"
            android:label="@string/title_activity_pif_doc_patientlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pif_den_patientlist"
            android:label="@string/title_activity_pif_den_patientlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".add_den_p" />
        <activity android:name=".add_doc_p" />
        <activity android:name=".add_opt_p" />
        <activity android:name=".opt_view_tiem" />
        <activity android:name=".add_update_den" />
        <activity android:name=".add_update_opt" />
        <activity android:name=".add_update_doc"/>
        <activity android:name=".LoadSamplePatient"/>

        <activity
            android:name=".ListQuestions"
            android:launchMode="standard" />
        <activity android:name=".EditeMultiQuest" />
        <activity android:name=".EditeNumQuest" />
        <activity android:name=".EditeTFQuest" />
        <activity android:name=".ShowQuest" />
        <activity android:name=".DialogStatistics" />
        <activity android:name=".AsyncTask" />
        <activity
            android:name=".TestToolbar"
            android:label="@string/title_activity_test_toolbar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
<activity android:name=".pif_start"/>
        <activity android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
    </application>
</manifest>